@import "@/assets/theme.scss";

.menuContainer {
  width: 14rem;
  background: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-shrink: 0;

  .menu {
    width: 80%;
    text-align: start;
    margin-top: 2rem;

    .menuTile {
      padding-bottom: 0.5rem;
      font-size: 0.75rem;
      line-height: 1rem;
      padding-left: 1rem;
    }

    .menuItem {
      border-radius: .3rem;
      box-sizing: border-box;
      font-size: 0.875rem;
      padding-left: 1rem;
      margin-top: .4rem;
      height: 2rem;
      line-height: 2rem;
      &:hover {
        background: #e5e7eb;
      }
    }
  }
}

.activeItem {
  @include bgImg();
  color: white;

  &:hover {
    @include bgImg();
    cursor: default;
  }
}

.icon {
  margin-right: .3rem;
  padding: 0;
}