#root {
    max-width: 1920px;
    margin: 0 auto;
    text-align: start;
    height: 100vh;
}

.App {
    height: 100%;
    display: flex;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.view{
    padding-top: .6rem;
    padding-left: 3rem;
    overflow: scroll;
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.view::-webkit-scrollbar{
    display: none; /* Chrome Safari */
}